.container {
  font-size: 62.5%;
  width: 283px;
  height: 354px;
}

button {
  clear: right;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 300;
  background-color: #65B357;
  height: 70px;
  width: 70px;
  border: 1px solid #B6DBB2;
  margin: 0;
  float:left;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #83C178;
  color: black;
}

.top button.clear {
  height: 72px;
  width: 70px;
  float: left;
  /*overflow: hidden;*/
}

.view {
  width: 208px;
  height: 70px;
  background-color: #65B357;
  border: 1px solid #B6DBB2;
  margin-left: 70px;
}

.operator {
  background-color: #83C178;
  color: black;
}

.operator:hover {
  background-color: #65B357;
  color: white;
}

